{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 1,
   "id": "7b6c3ac1-b3cf-4518-9c38-032bf02cab77",
   "metadata": {},
   "outputs": [],
   "source": [
    "# Open and edit a new requirements.txt file\n",
    "with open(\"requirements.txt\", \"w\") as f:\n",
    "    f.write(\"\"\"\\\n",
    "dash==2.18.2\n",
    "plotly\n",
    "pandas\n",
    "gunicorn\n",
    "\"\"\")\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "ac17ee36-1161-4acb-82ef-bb98f4d3c4e2",
   "metadata": {},
   "outputs": [],
   "source": []
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python [conda env:base] *",
   "language": "python",
   "name": "conda-base-py"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.12.7"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}
